<h1 class="margin-bottom-35px">お気に入り求人一覧</h1>


<table class="table table-striped">

  <thead>
    <th></th>
    <th>求人名</th>
    <th>企業名</th>
  </thead>

  <% @job_informations.each do |job| %>
    <tr>

      <td>
        <%= link_to job_information_path(job.job_information) do %>
          <%= attachment_image_tag job.job_information, :job_image, format: 'jpeg', fallback: "no_image.jpg", size: "50x50", class: "img-border" %>
        <% end %>
      </td>

      <td>
        <%= job.job_information.title %>
      </td>

      <td>
        <%= job.job_information.company %>
      </td>

    </tr>
  <% end %>
  <%= paginate @job_informations %>
</table>