<h2 class="margin-bottom-35px">求人検索</h2>

<div class="row margin-bottom-50px">

  <table>
    <%= form_tag(job_informations_search_path, method: "get") do %>

      <tr>
        <td><h4>職種</h4></td>
        <td><h4>年収</h4></td>
        <td></td>
        <td></td>
        <td><h4>勤務地</h4></td>
        <td></td>
      </tr>

      <tr>

        <td class="td-padding-2">
          <%= select_tag(:genre, options_for_select(JobInformation.genres.to_a, {}), class:"form-control", :style=> "width:100%;") %>
        </td>

        <td class="td-padding">
          <%= select_tag(:income_from, options_for_select([250,300,350,400,450,500,550,600,650,700], {},), class:"form-control", :style=> "width:100%;") %>
        </td>

        <td class="td-padding">
          <p>～</p>
        </td>

        <td class="td-padding-2">
          <%= select_tag(:income_to, options_for_select([250,300,350,400,450,500,550,600,650,700], {},), class:"form-control", :style=> "width:100%;") %>
        </td>

        <td class="td-padding-2">
          <%= select_tag(:area, options_for_select(JobInformation.areas.to_a, {}), class:"form-control", :style=> "width:100%;") %>
        </td>

        <td class="td-padding">
          <%= submit_tag "絞り込み", class: "btn btn-primary", :style=> "width:100%;" %>
        </td>

      </tr>
    <% end %>
  </table>

</div>


<div class="row">
    <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>求人名</th>
            <th>企業名</th>
            <th>作成日</th>
          </tr>
        </thead>
        <tbody>

          <p class="search"><%= @not_exit %></p>

          <% @job_informations.each do |job_information| %>
            <tr>
              <td>
                <%= link_to job_information_path(job_information), :target=>["_blank"] do %>
                  <%= attachment_image_tag job_information, :job_image, format: 'jpeg', fallback: "no_image.jpg", size: "50x50", class: "img-border" %>
                <% end %>
              </td>
              <td>
                <%= job_information.title %>
              </td>
              <td>
                <%= job_information.company %>
              </td>
              <td>
                <%= job_information.created_at.strftime("%Y-%m-%d") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <%= paginate @job_informations %>
    </table>
</div>