<div class="row">
  <div class="col-xs-5">
    <h2 class="margin-bottom-35px">求人詳細</h2>
  </div>
  <div class="col-xs-7"></div>
</div>

 <div class="row">
   <div class="col-xs-12 margin-bottom-15px">
     <h4><b><%= @job_information.title %></b></h4>
   </div>
 </div>


<div class="row margin-bottom-35px">
  <div class="col-xs-5">
    <%= attachment_image_tag @job_information, :job_image, format: 'jpeg', fallback: "no_image.jpg", size: "350x300", class: "margin-bottom img-border" %>
  </div>

  <div class="col-xs-7">

    <h4>求人情報</h4>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>募集職種</th>
          <td><%= @job_information.genre %></td>
        </tr>

        <tr>
          <th>勤務地</th>
          <td><%= @job_information.area %></td>
        </tr>

        <tr>
          <th>想定年収</th>
          <td><%= @job_information.income %>万</td>
        </tr>

        <tr>
          <th>企業名</th>
          <td><%= @job_information.company %></td>
        </tr>

        <tr>
          <th>担当キャリアアドバイザー</th>
          <td>
            <%= link_to user_path(@job_information.user) do %>
            <%= @job_information.user.last_name %> <%= @job_information.user.first_name %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
　　
    <% if current_user.user_status == '一般ユーザー' %>

      <div id="favorite_btn">
        <%= render 'favorite_form', job_information: @job_information %>
      </div>

    <% elsif @job_information.user == current_user %>

      <div><%= link_to "編集する", edit_job_information_path(@job_information), class: "btn btn-success btn-lg", :style=> "width:30%;" %></div>
    <% end %>

  </div>
</div>


<div class="row margin-bottom-15px">
  <div class="col-xs-12">
      <h4>求人概要</h4>
      <div class="box1">
        <%= simple_format(@job_information.summary) %>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
      <h4>求人詳細</h4>
      <div class="box1">
        <%= simple_format(@job_information.detail) %>
      </div>
  </div>
</div>