<h1 class="margin-bottom-45px">転職診断結果</h1>

<div class="margin-bottom-35px">
  <center><%= image_tag('image/mr_sales.png',class: "imagesize center") %></center>
</div>

<div class="margin-bottom-25px">
  <center>
    <h4>
      <%= current_user.last_name %><%= current_user.first_name %>さんが「MR」に転職できる可能性は
    </h4>
  </center>
</div>

<div>
  <center>
    <b class="font-size1"><%= @mr_sales.round(0) %></b>
    <b class="font-size2">%</b>
  </center>
</div>


<%= render 'jobcheck', memo: @memo %>