<h1 class="margin-bottom-45px">転職診断チェック</h1>

<div class="margin-bottom-45px">
  <center><h4>希望する職種を選択してください</h4></center>
</div>

<table class="center">
  <tr>
    <td class="padding">
      <div class="margin-bottom-15px">
        <%= link_to jobcheck_manufacturer_sales_path do %>
          <%= image_tag('image/manufacturer_sales.png',class: "imagesize") %>
        <% end %>
      </div>
      <div>
        <center><strong>メーカー・商社営業</strong></center>
      </div>
    </td>
    <td class="padding">
      <div class="margin-bottom-15px">
        <%= link_to jobcheck_mr_sales_path do %>
          <%= image_tag('image/mr_sales.png',class: "imagesize") %>
        <% end %>
      </div>
      <div>
        <center><strong>MR</strong></center>
      </div>
    </td>
    <td class="padding">
      <div class="margin-bottom-15px">
        <%= link_to jobcheck_real_estate_sales_path do %>
          <%= image_tag('image/real_estate_sales.png',class: "imagesize") %>
        <% end %>
      </div>
      <div>
        <center><strong>不動産営業</strong></center>
      </div>
    </td>
  </tr>

  <tr>
    <td class="padding">
      <div class="margin-bottom-15px">
        <%= link_to jobcheck_it_sales_path do %>
          <%= image_tag('image/it_sales.png',class: "imagesize") %>
        <% end %>
      </div>
      <div>
        <center><strong>IT営業</strong></center>
      </div>
    </td>
    <td class="padding">
      <div class="margin-bottom-15px">
        <%= link_to jobcheck_human_resources_sales_path do %>
          <%= image_tag('image/human_resources_sales.png',class: "imagesize") %>
        <% end %>
      </div>
      <div>
        <center><strong>人材営業</strong></center>
      </div>
    </td>
    <td class="padding">
      <div class="margin-bottom-15px">
        <%= link_to jobcheck_webad_sales_path do %>
          <%= image_tag('image/webad_sales.png',class: "imagesize") %>
        <% end %>
      </div>
      <div>
        <center><strong>Web広告営業</strong></center>
      </div>
    </td>
  </tr>

  <tr>
    <td class="padding">
      <div class="margin-bottom-15px">
        <%= link_to jobcheck_service_planning_path do %>
          <%= image_tag('image/service_planning.png',class: "imagesize") %>
        <% end %>
      </div>
      <div>
        <center><strong>商品／サービス企画</strong></center>
      </div>
    </td>
    <td class="padding">
      <div class="margin-bottom-15px">
        <%= link_to jobcheck_office_work_path do %>
          <%= image_tag('image/office_work.png',class: "imagesize") %>
        <% end %>
      </div>
      <div>
        <center><strong>事務</strong></center>
      </div>
    </td>
    <td class="padding">
      <div class="margin-bottom-15px">
        <%= link_to jobcheck_secretary_path do %>
          <%= image_tag('image/secretary.png',class: "imagesize") %>
        <% end %>
      </div>
      <div>
        <center><strong>秘書</strong></center>
      </div>
    </td>
  </tr>

  <tr>
    <td class="padding">
      <div class="margin-bottom-15px">
        <%= link_to jobcheck_human_resources_path do %>
          <%= image_tag('image/human_resources.png',class: "imagesize") %>
        <% end %>
      </div>
      <div>
        <center><strong>人事</strong></center>
      </div>
    </td>
    <td class="padding">
      <div class="margin-bottom-15px">
        <%= link_to jobcheck_accounting_path do %>
          <%= image_tag('image/accounting.png',class: "imagesize") %>
        <% end %>
      </div>
      <div>
        <center><strong>経理</strong></center>
      </div>
    </td>
    <td class="padding">
      <div class="margin-bottom-15px">
        <%= link_to jobcheck_general_affairs_path do %>
          <%= image_tag('image/general_affairs.png',class: "imagesize") %>
        <% end %>
      </div>
      <div>
        <center><strong>総務</strong></center>
      </div>
    </td>
  </tr>

  <tr>
    <td class="padding">
      <div class="margin-bottom-15px">
        <%= link_to jobcheck_system_engineer_path do %>
          <%= image_tag('image/system_engineer.png',class: "imagesize") %>
        <% end %>
      </div>
      <div>
        <center><strong>システムエンジニア</strong></center>
      </div>
    </td>
    <td class="padding">
      <div class="margin-bottom-15px">
        <%= link_to jobcheck_sales_staff_path do %>
          <%= image_tag('image/sales_staff.png',class: "imagesize") %>
        <% end %>
      </div>
      <div>
        <center><strong>小売／販売サービス</strong></center>
      </div>
    </td>
    <td class="padding">
      <div class="margin-bottom-15px">
        <%= link_to jobcheck_writer_path do %>
          <%= image_tag('image/writer.png',class: "imagesize") %>
        <% end %>
      </div>
      <div>
        <center><strong>記者／ライター</strong></center>
      </div>
    </td>
  </tr>

</table>