<h4 class="rooms-title">トークルーム</h4><br>
  <% @entries.each do |e| %>
    <strong>
      <%= link_to e.user do %>
        <%= attachment_image_tag e.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "50x50" %>
      <% end %>
      <%= e.user.last_name %> <%= e.user.first_name %>さん
    </strong>
  <% end %><br><br>


<div class="chats">

  <div class="posts">
  <input type="text" data-behavior="room_speaker" data-user="<%= current_user.id %>" data-room="<%= @room.id %>">
    <%#= form_for @message do |f| %>
      <%#= f.text_field :content, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
      <%#= f.hidden_field :room_id, value: @room.id %>
      <%#= f.submit "投稿",class: 'form-submit'%>
    <%# end %>
  </div><br><br>

  <div class="chat">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class="chat-box">
          <div class="chat-face">
            <%= attachment_image_tag m.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "50x50" %>
          </div>
          <div class="chat-hukidashi">
            <strong>
              <%= m.content %>
            </strong>
            <br>
            <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
          </div>
        </div><br>
      <% end %>
    <% end %>
  </div>

</div>