<!DOCTYPE html>
<html>

  <head>
    <title>Jobmatching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css" >

    <script>
      $(function() {
        $("#datepicker").datepicker();
      });
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- コード追加　Bootstrap JavaScript読み込みコード-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <header>

      <div class="header-box clearfix">

        <!-- ロゴ部分 ここから-->
        <h2 class="title-box">

          <% if user_signed_in? %>
           <%= link_to "Job Matching", user_path(current_user), class: "text-decoration",:style=>"color:white;", data: {"turbolinks" => false} %>

          <% else %>
          <%= link_to "Job Matching", root_path, :style=>"color:white;", data: {"turbolinks" => false} %>

          <% end %>
        </h2>
        <!-- ロゴ部分　ここまで -->


　　　　<!-- ヘッダーリスト　ここから -->
        <ul class="nav-box clearfix">

          <% if user_signed_in? %>

            <li class="navlist">
              <%= link_to " ログアウト", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt", :style=>"color:white;" %>
            </li>

            <li class="navlist">
              <%= link_to " About", about_path, class: "fas fa-file", :style=>"color:white;", data: {"turbolinks" => false} %>
            </li>

            <li class="navlist">
              <% if unchecked_notifications.any? %>
                <%= link_to " お知らせ（新着あり）", notifications_path, class: "fas fa-bell", :style=>"color:orange;", data: {"turbolinks" => false} %>
              <% else %>
                <%= link_to " お知らせ", notifications_path, class: "fas fa-bell", :style=>"color:white;", data: {"turbolinks" => false} %>
              <% end %>
            </li>

            <li class="navlist">
              <%= link_to " マイページ", user_path(current_user), class: "fas fa-user", :style=>"color:white;", data: {"turbolinks" => false} %>
            </li>

          <% else %>

            <li class="navlist">
              <%= link_to " About", about_path, class: "fas fa-file", :style=>"color:white;", data: {"turbolinks" => false} %>
            </li>

            <li class="navlist">
              <%= link_to ' ログイン', new_user_session_path, class: "fas fa-sign-in-alt", :style=>"color:white;"%>
            </li>

            <li class="navlist">
              <%= link_to ' 新規登録', new_user_registration_path, class: "fas fa-user-plus", :style=>"color:white;"%>
            </li>

          <% end %>
        </ul>
        <!-- ヘッダーリスト　ここまで -->

      </div>
    </header>

  <body>
      <div class="wrapper">
      <div class="container margin-bottom-50px">
        <div class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-1"></div>
                <div class="col-xs-10">

                  <%= yield %>

                </div>
              <div class="col-xs-1"></div>
           </div>
          </div>
        </div>
      </div>
      </div>

      <footer>
        <p class="footer-text">© All rights reserved by Job Matching.Inc.</p>
      </footer>

  </body>

</html>
