<!DOCTYPE html>
<html>

  <head>
    <title>Jobmatching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>

      <div class="header-box clearfix">

        <!-- ロゴ部分 ここから-->
        <h2 class="title-box">

          <% if user_signed_in? %>
           <%= link_to "Job Matching", user_path(current_user), class: "text-decoration",:style=>"color:white;" %>

          <% else %>
          <%= link_to "Job Matching", root_path, :style=>"color:white;", data: {"turbolinks" => false} %>

          <% end %>
        </h2>
        <!-- ロゴ部分　ここまで -->


　　　　<!-- ヘッダーリスト　ここから -->
        <ul class="nav-box clearfix">

          <% if user_signed_in? %>
            <li class="navlist">
              <%= link_to " ログアウト", destroy_user_session_path, method: :delete, class: " glyphicon glyphicon-log-out logout", :style=>"color:white;" %>
            </li>

            <li class="navlist">
              <%= link_to " お知らせ", notifications_path, class: " glyphicon glyphicon-log-out logout", :style=>"color:white;" %>
            </li>

          <% else %>
            <li class="navlist">
              <%= link_to ' ログイン', new_user_session_path, class: "glyphicon glyphicon-edit sign_up", :style=>"color:white;"%>
            </li>

            <li class="navlist">
              <%= link_to ' 新規登録', new_user_registration_path, class: "glyphicon glyphicon-edit sign_up", :style=>"color:white;"%>
            </li>

          <% end %>
        </ul>
        <!-- ヘッダーリスト　ここまで -->

      </div>
    </header>

  <body>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-1"></div>
              <div class="col-xs-10">

                <%= yield %>

              </div>
            <div class="col-xs-1"></div>
         </div>
        </div>
      </div>
    </div>

  </body>
</html>
